.wrap_form {
  background-color: white;
  width: 100%;
}

.wrap_image {
  margin-left: -15%;
  color: green;
  z-index: -10;
  width: 50%;
  display: none;
}

.wrap_auth_ui {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.auth_ui_title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1976d2;
  font-weight: 900 !important;
}

.form_wrapper {
  display: grid;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  max-width: 40rem;
  padding: 1.2rem 4rem 3rem;

}

.listItem {
  color: #e31414;
  font-size: 14px;
  margin-top: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
}


@media screen and (max-width: 600px) {
  .wrap_auth_ui {
    margin-top: 2rem;
  }

  .form_wrapper {
    padding: 1rem;
  }
}

@media screen and (min-width: 601px) {
  .wrap_auth_ui {
    margin-top: 5rem;
    border-radius: 4px;
    border: 1px solid gray;
    box-shadow: -1px 0px 12px 2px rgba(36, 45, 115, 0.45);
    -webkit-box-shadow: -1px 0px 12px 2px rgba(36, 45, 115, 0.45);
    -moz-box-shadow: -1px 0px 12px 2px rgba(36, 45, 115, 0.45);
  }

  .form_wrapper {
    margin-right: 10px;
  }

  .wrap_form {
    width: 65%;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0 100%);
  }

  .wrap_image {
    display: block;
  }
}

@media screen and (min-width: 801px) {
  .form_wrapper {
    margin-right: 80px;
  }
}